.nav-effect{
	margin-left: 70px;
}
.sec1 sec2 sec3 sec4{
	height: auto;
	background-color: aliceblue;
	
}
hr.shadow {
    border: 0;
    height: 1px;
    background: #2ecc71;
    background-image: -webkit-linear-gradient(left, #2ecc71, #63C, #2ecc71);
    background-image: -moz-linear-gradient(left, #2ecc71, #63C, #2ecc71);
    background-image: -ms-linear-gradient(left, #2ecc71, #63C, #2ecc71);
    background-image: -o-linear-gradient(left, #2ecc71, #63C, #2ecc71);
	
		
	}
.genesis{
	width: 700px;
	margin-left: 60px;
}
nav.shrink{
    background-color:#00C851;
}
.colort{
    background-color: transparent;
    border: none;
    transition: 0.5s ease-in-out;
}
ul, a{
    color: #ffffff;
}
.navbar{
    box-shadow:none;
}
ul :hover{
    color: white;
}